@import url("https://fonts.googleapis.com/css?family=Kaushan+Script:regular");
@import "tailwindcss";
body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-kaushan: "Kaushan Script", "sans-serif";
}

.ringHover-1 {
  @apply transition shadow-sm hover:ring-1 hover:ring-offset-1 outline-none;
}

.ringHover-2 {
  @apply transition shadow-sm hover:ring-2 hover:ring-offset-2 outline-none;
}

.smallH-1 {
  @apply text-sm text-white/60 font-semibold;
}

.noFocus:focus {
  outline: none Imp !important;
}